<div class="container boxa mainpaper">
    <div class="row videograybg">
        <div class="content center-block" align="center">
            <div class="octocontainer">
                <div class="embed-responsive embed-responsive-16by9">
                    <div id="player" class="center-block">
                        <a href="http://www.adobe.com/go/getflashplayer"><img src="https://d2iwzbhgddzdwl.cloudfront.net/files/images/flashreq.png" alt="Get Adobe Flash player" /></a>
                    </div>
                </div>
                <div class="videocaption">
                    <span class="videotitle">Brian Setzer</span><span class="videoshortdescr">Woodstock '99</span>
                    <br>
                    <a href="#" class="btn btn-primary" role="button"><img src="images/glyphicons/png/glyphicons-196-circle-info.png"> Details</a>
                    <a href="#" class="btn btn-primary" role="button"><img src="images/glyphicons/png/glyphicons-310-comments.png"> Comments (102)</a>
                    <a href="#" class="btn btn-primary" role="button"><img src="images/glyphicons_social/png/social-32-twitter.png"> Twitter</a>
                    <a href="#" class="btn btn-primary" role="button"><img src="images/glyphicons_social/png/social-31-facebook.png"> Facebook</a>
                    <a href="#" class="btn btn-primary" role="button"><img src="images/glyphicons/png/glyphicons-223-share.png"> Share</a>
                </div>
            </div>
        </div>
    </div>
</div>

